/*TRASNFORMACION-TRANSICION-ANIMACION*/
input{
  width: 80px;
  height: 20px;
  transform: all 2s;
}
input:focus{
  width: 200px;
  height: 40px;
  font-size: 24px;
}

/*animacion articulo*/
article{
  p{
    animation-duration: 3s;
    animation-name: slidein;
  }
}
  
  
@keyframes slidein {
  from{
    margin-left: 100%;
    width: 300%
  }
  
  to{
    margin-left: 0%;
    width: 100%;
  }
}
