//CONTACTO
.tituloForm{
    text-align: center;
}
.legend{
    font-size: 35px;
    color:rgb(245, 153, 153);
}
form{
    margin: 10px;
    font-size: 25px;
    fieldset{
        height: 60vh;
        border: solid 1.5px black;
        margin: 5px;
        padding: 5px;
    }
}
.botonEnviar{
    width: 25%;
    height: 50px;
    font-size: xx-large;
    margin-top: 7px;
    margin-left: 25%;
    margin-bottom: 10px;
}
.botonLimpiar{
    width: 15%;
    height: 40px; 
    font-size: x-large;
}
.inputForm{
    width: 150px;
    height: 30px;
    transform: all 2s;
}
.inputForm:focus{
    width: 300px;
    height: 40px;
    font-size: 24px;
}
.alertFormulario{
    font-size: 30px;
}