//ESTRUCTURA

/*Smartphone*/
@media (max-width: 576px)
{
    .flexIndex{
        display: flex;
        flex-direction: column nowrap;
    }
    .boton //boton para subir
    {
        width: 10px;
        height: 10px;
        background-image: url(../img/flecha-hacia-arriba.png);
        margin-right: 10px;
        margin-bottom: 35px;
        position:fixed;
        bottom: 0;
        right: 0;
    }
}

/*Tablet*/
@media (min-width: 577px) and (max-width: 992px)
{
    .flexIndex{
        display: flex;
        flex-flow: column nowrap;
    }
    .boton //boton para subir
    {
        width: 10px;
        height: 10px;
        background-image: url(../img/flecha-hacia-arriba.png);
        margin-right: 10px;
        margin-bottom: 35px;
        position:fixed;
        bottom: 0;
        right: 0;
    }
}

/*Desktop*/
@media (min-width: 993px)
{
    .flexIndex{
        display: flex;
        flex-flow: column nowrap;
    }
}