/*ESTRUCTURA*/

/*Smartphone*/
@media screen and (max-width: 576px)
{
    $redes: (
        instagram: #DD2A7B,
        whatsapp: #25D366,
        email: #DB4437
    );
    @each $social, $color in $redes {
        .btn--#{$social} {
            background-color: $color;
            width: 50px;
            height: 50px;
            border: black solid 2px;
            border-radius: 20%;
            background-position: center auto;
            opacity: 85%;
            margin: auto;
        }
        .imgRedes{
            margin: 2px;
            padding: 2px;
            width: 30px;
            height: 30px;
            position: center auto;
        }
    }
    .boton //boton para subir
    {
        width: 55px;
        height: 40px;
        font-size: auto;
        margin-right: 10px;
        margin-bottom: 35px;
        position:fixed;
        bottom: 0;
        right: 0;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .inputForm{
        width: 150px;
        height: 30px;
        transform: all 2s;
    }
    .inputForm:focus{
        width: 170px;
        height: 40px;
        font-size: 18px;
    }
    .alertFormulario{
        font-size: 20px;
    }
    .botonEnviar{
        width: 25%;
        height: 30px;
        font-size: auto;
        margin:auto;
    }
    .botonLimpiar{
        width: 15%;
        height: 25px; 
        font-size: auto;
    }
    .fotoArticulo{
        max-width: 100% auto;
        height: auto;
        object-fit: cover;
    }
}

/*Tablet*/
@media screen and (min-width: 577px) and (max-width: 992px)
{
    .boton //boton para subir
    {
        width: 55px;
        height: 40px;
        font-size: auto;
        margin-right: 10px;
        margin-bottom: 35px;
        position:fixed;
        bottom: 0;
        right: 0;
    }
    .botonEnviar{
        width: 25%;
        height: 30px;
        font-size: auto;
        margin:auto;
    }
    .botonLimpiar{
        width: 15%;
        height: 25px; 
        font-size: auto;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .inputForm{
        width: 150px;
        height: 30px;
        transform: all 2s;
    }
    .inputForm:focus{
        width: 220px;
        height: 40px;
        font-size: 20px;
    }
}