//GALERIA
.imgGaleria{
    width: 300px;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border: dashed 1.75px black;
    margin: 0.5rem;
    padding: 1px;
}
.tituloCategoria{
    font-size: xx-large;
    text-align: left;
    margin: 0px 10px 10px 10px;
}
.insetshadow {
    text-align: center;
    color: #202020;
    background-color: rgb(247, 218, 218);
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
}
