//PRODUCTOS
.listaProductos{
    width: 60%;
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    overflow: auto;
    font-size: larger;
}
.tituloProductos{
    margin: 0px 10px 10px 10px;
    text-align: left;
}
.macsPNG{
    margin-left: 800px;
}