//PRODUCTOS
.fondoVerde{
    min-height: 100vh;
    background-color: rgb(219, 239, 230);
    margin: 5px;
    margin-bottom: 30px;
}
.tituloProductos{
    margin: 10px;
    text-align: center;
}
.ulProductos { 
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}
.box {
    transition: box-shadow .3s;
    width: 300px;
    height: 300px;
    border-radius:7px;
    border: 3px solid rgb(43, 42, 42);
    background: #fff;
    float: left;
    overflow: auto;
    font-size: larger;
    margin: 15px;
    padding: 5px;
}
.box:hover {
    box-shadow: 0 0 20px black; 
}
